.breadcrumb-light {
	.breadcrumb-item {
		+ .breadcrumb-item{
			&:before {
				color: $white;
				opacity: 0.8;
			}
		}
		
		a {
			color: $white;
		}
		&.active {
			color: $white;	
		}
		
	}
}